@font-face {
  font-family: 'CustomFont';
  src: url('fonts/binxchr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "CustomFont";
}

/* Loading Screen Styles */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  /* Ensure it's on top */
  overflow: hidden;
  /* Hide any overflow from the canvas */
}

/* Canvas for Matrix Effect */
#loading-matrix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Place it behind the loading content */
}

#progress-bar-container {
  width: 50%;
  background-color: #444;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

#progress-bar {
  width: 0%;
  height: 20px;
  background-color: #ff00ff;
}

/* Existing Blocker and Instructions Styles */
#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  /* Initially hidden until loading is complete */
}

#instructions {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  flex-direction: column;
}

#instructions a {
  margin: 10px;
}

#instructions img {
  width: 50px;
  /* You can adjust the size of the buttons */
  height: 50px;
  cursor: pointer;
}

pre {
  position: absolute;
  height: 10px;
  width: 10px;
}

img {
  width: 10px;
  height: 10px;
}

.ass {
  flex-direction: column;
}

.body__row {
  margin-top: 1.3rem;
  line-height: 1.7rem;
  padding: 0 2rem;
  display: flex;
  align-items: center
}

.body__row-arrow {
  width: .8rem;
  height: .6rem;
  background-color: #40e800;
  -webkit-clip-path: polygon(0 30%, 60% 30%, 60% 0, 100% 50%, 60% 100%, 60% 70%, 0 70%);
  clip-path: polygon(0 30%, 60% 30%, 60% 0, 100% 50%, 60% 100%, 60% 70%, 0 70%);
  margin-right: .9rem
}

.body__row-folder {
  color: #56f2e6;
  margin-right: 1rem
}

.body__row-git--label {
  color: #2d9cdb
}

.body__row-git--branch {
  color: #40e800
}

.body__row-git--branch-detail {
  color: #f2c94c
}

.body__row-git--branch-time {
  color: #27ae60
}

.body__row-git--author {
  color: #2d9cdb
}

.body__row-result {
  margin-left: 1rem
}

.body__row-cursor {
  width: .5rem;
  height: 1.5rem;
  background-color: #bb6bd9;
  border: 1px solid #bb6bd9;
  animation: flash 1s ease-in-out infinite
}